html {
  box-sizing: border-box;
  padding: 5px;
  margin: .9rem;
  font-family: Ubuntu, sans-serif;
  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: inherit;
  margin: auto;
  font-family: Ubuntu, sans-serif;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

a {
  color: #6c8fe0;
  font-size: 1.125rem;
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

header {
  background-color: #18294f;
}

a:hover {
  background-color: #6c8fe0;
  color: #fff;
}
