html {
  box-sizing: border-box;
  padding: 0;
  margin: .9rem;
  font-family: Ubuntu, sans-serif;
  @-moz-viewport { width: device-width; scale: 1; }
  @-ms-viewport { width: device-width; scale: 1; }
  @-o-viewport { width: device-width; scale: 1; }
  @-webkit-viewport { width: device-width; scale: 1; }
  @viewport { width: device-width; scale: 1; }
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: inherit;
  font-family: Ubuntu, sans-serif;
  text-decoration: none;
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

a {
  color: #6c8fe0;
  font-size: 1.125rem;
  text-decoration: none;
  padding: .5em .75em;
  display: block;
}

li {
  width: 100%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  background-color: #18294f;
  padding: .5em;
  margin: -2.75rem;
}

a:hover {
  background-color: #6c8fe0;
  color: #fff;
}

@media only screen and (min-width: 25em) {

  li {
    width: 50%;
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  li {
    width: 25%;
  }

}

@media only screen and (min-width: 60em) {

  h1 {
    display: inline-block;
    width: 25%;
    justify-content: space-between;
  }

}

@media only screen and (min-width: 90em) {

  a {
    align-items: center;
  }

}
